html {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
}

body.rtl {
    direction: rtl;
}

p {
    margin: 1px
}

body{
    font-family: 'Varela Round', sans-serif;
    background-color: #f3f3f3;

}
/* https://colorhunt.co/palette/202295 */
/* https://colorhunt.co/palette/106550 */
/* https://colorhunt.co/palette/195714 */

.header2{
    padding: 30px;
    background-color: #411f1f;
    color:#fff;
}

/* .container2 {
    display: grid;
    grid-template-columns: 70% 30%;
} */

.table-head {
    display: grid;
    grid-template-columns: 5% 40% 25% 30%;
    font-weight: bold;
}

.table {
    display: grid;
    grid-template-columns: 5% 40% 25% 10% 10% 10%;
}

.head-cells {
    padding: 5px;
    border-radius: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #86c4ba;
    cursor: pointer;
}

.tc {
    padding: 5px;
    border-radius: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #cedebd;
}

/* .create-new {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    display: inline; 
} */

.create-new:hover {
    color: #0000ff;
    cursor: pointer;
}

.newBookModal {
    /* display: grid; */
    /* grid-template-columns: 30% 70%;
    background-color: #dbade9;
    width: 50%;
    height: 130px;
    padding: 30px; */
}

.hide {
    display: none;
}

.delete-btn {
    cursor: pointer;
}

.delete-btn:hover {
    color: #0000ff;
    cursor: pointer;
}

.update-btn {
    cursor: pointer;
}

.update-btn:hover {
    color: #e78e00;
    cursor: pointer;
}

.read-btn {
    cursor: pointer;
}

.read-btn:hover {
    color: #06c200;
    cursor: pointer;
}

.div-b {
    padding: 0px;
    background-color: #cedebd;
    height: 700px;
}

.panel-title {
    text-align: center;
    background-color: #86c4ba;
}



input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.rate-controller {
    display: grid;
    grid-template-columns: 18% 20% 40% 20%;
}

.rate-cell {
    cursor: pointer;
    background-color: #86c4ba;
    text-align: center;
}

.rate-cell:hover {
    cursor: pointer;
    background-color: #6da59c;
    text-align: center;
}

.rate-number {
    background-color: #f3f3f3;
    text-align: center;
}

.pagination {
    cursor: default;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.page-btn {
    background-color: #86c4ba;
    text-align: center;
    color: #f3f3f3;
}

.page-btn:hover {
    background-color: #6ea097;
    text-align: center;
    color: #f3f3f3;
}

.pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.page{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cedebd;
    margin-right: 1px;
}

.page:hover{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #86c4ba;
    margin-right: 1px;
}

.mark-page-btn{
    background-color: #86c4ba;
    color: rgb(255, 255, 255);

}

.cursor-pointer{
    cursor: pointer;
}